{{- block "footer" . }}
<footer class="footer footer--main container metadata">
  {{- with .Site.Copyright -}}
  {{ . }}
  {{- else -}}
  &copy; {{ now.Year }} {{- with .Site.Author }} {{ .name }}. {{- end }} <a href='{{ "" | relURL }}'>{{ .Site.Title }}</a>
  {{- end -}}
</footer>
{{- end }}
<script>
  (function() {

  function updateCover(transitionProgress) {
    if(transitionProgress < 0) {
      transitionProgress = 0
    }
    if(transitionProgress > 1) {
      transitionProgress = 1
    }
    var header = document.querySelector('header.header.header--main.header__frontpage')
    var nav = document.querySelector('nav.nav.nav__frontpage')
    if(nav) {
      var desc = nav.querySelector('.nav__description')
      var navLinks = nav.querySelector('.nav__content.container.metadata')
      if(desc) {
        desc.style.opacity = (1 - transitionProgress).toString()
      }
      if(navLinks) {
        navLinks.style.opacity = (transitionProgress).toString()
      }
    }
    var currentUpdate = new Date()
    if(updateTimeout) {
        window.clearTimeout(updateTimeout)
    }
    if(currentUpdate - previousUpdate < 300) {
      updateTimeout = window.setTimeout(onScroll, 300)
      return
    } else {
      previousUpdate = currentUpdate
    }
    if(header) {
      var banner =  header.querySelector('figure.banner')
      if(banner) {
        banner.style.filter = 'blur(' + (80 * transitionProgress).toFixed(1).toString() + 'px)'
      }
    }
  }
  var previousUpdate = new Date()
  var updateTimeout = null
  function onScroll() {
    var scrollIcon = document.querySelector('nav.nav.nav__frontpage > .nav__scroll-down')
    if(scrollIcon) {
      if(window.scrollY > 0) {
        scrollIcon.style.filter = 'opacity(0)'
      } else {
        scrollIcon.style.filter = 'opacity(100%)'
      }
    }
    var navLinks = document.querySelector('nav.nav.nav__frontpage > .nav__content.container.metadata')
    var vh = Math.max(document.documentElement.clientHeight, window.innerHeight || 0)
    if(navLinks) {
      updateCover(window.scrollY / (vh - navLinks.offsetHeight))
    } else {
      updateCover(window.scrollY / vh)
    }
  }
  window.addEventListener('scroll', onScroll)
  window.addEventListener('DOMContentLoaded', function() {
    updateCover(0)
  })

  })()
</script>