<section class="list">
  {{ partial "header" .Page }}

  <div class="container">
    <div class="content">
    {{- $paginator := .Page.Paginate .pages -}}
    {{- range $paginator.Pages }}
      {{ .Page.Render "summary" }}
    {{- end }}
    </div>

    <footer class="footer metadata">
      {{ template "_internal/pagination.html" .Page }}
    </footer>
  </div>
</section>
{{ if eq $paginator.PageNumber 1 }}
  <script>
    window.addEventListener('load', function() {
      var navHomepage = document.querySelector('nav.nav.nav__homepage')
      var headerHomepage = document.querySelector('header.header.header--main.header__homepage')
      if(navHomepage !== null) {
        navHomepage.className = 'nav nav__frontpage'
      }
      if(headerHomepage !== null) {
        headerHomepage.className = 'header header--main header__frontpage'
      }
    })
  </script>
{{ end }}